<app-menu></app-menu>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center mb-2 text-success">Missão</h1>
            <p>
                O projeto DoaFood é um programa sem fins lucrativos, gerido apenas 
                por um grupo de pessoas que querem transformar esse mundo num lugar 
                melhor. O projeto tem como objetivo ajudar as pessoas que necessitam 
                de alimentos pois não tem renda suficiente para obtê-los. É um projeto 
                gratuito, que conta com a ajuda de empresas de alimentos (varejo e indústria), 
                para fornecerem alguns alimentos aos mais necessitados.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <img src="../../assets/missao.jpg" class="rounded" width="380" height="210" alt="um grupo de pessoas felizes fazendo sua refeição.">
        </div>
    </div>
    <div class="row mt-3">
        <hr>
        <div class="col-md-6 mt-3">
            <img src="../../assets/visão.jpg" class="rounded" width="380" height="210" alt="deois homens alegres comendo">
        </div>
        <div class="col-md-6 mt-3">
            <h1 class="text-center mb-2 text-success">Visão</h1>
            <p>O objetivo do nosso projeto nos próximos 5 anos é conseguir ajudar o maior número de pessoas 
                possíveis e tirar o Brasil do mapa da fome, trazendo mais dignidade à população mais carente 
                hoje no país.</p>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-12">
            <h1 class="text-center mb-2 text-success">Valores</h1>
        </div>
        <div class="row mt-3">
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-white text-center">EMPATIA</div>
                <div class="card-body">
                    <p class="card-text d-flex justify-content-center"><img src="../../assets/empatiacerto.png" width="100px" height="100px" alt=""></p>
              </div>
            </div>
        </div>
        <div class="col-md-3">
              <div class="card text-white card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">UNIÃO</div>
                <div class="card-body">
                    <p class="card-text d-flex justify-content-center"><img src="../../assets/união.png" width="100px" height="100px" alt=""></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">RESPEITO</div>
                <div class="card-body">
                    <p class="card-text d-flex justify-content-center"><img src="../../assets/respeito.png" width="100px" height="100px" alt=""></p>
                </div>
              </div>
            </div>
              <div class="col-md-3">
              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">TRABALHO EM EQUIPE</div>
                <div class="card-body">
                    <p class="card-text d-flex justify-content-center"><img src="../../assets/empatia.png" width="100px" height="100px" alt=""></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="jumbotron jumbotron-fluid mb-3 mt-4">
        <div class="container">
          <h1 class="display-4 text-center mb-2 text-success">Nosso Time</h1>
        </div>
      </div>
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/ethely.jpeg" class="img-fluid mb-3 rounded-circle" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title">Ethelyn</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="card-header d-flex justify-content-center ">
                      <a href=""><img class="mr-6" src="../../assets/linkedin.png" alt=""></a>
                        <a href=""><img src="../../assets/placa-do-github.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title">Marouane</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="../../assets/linkedin.png" alt=""></a>
                    <a href=""><img src="../../assets/placa-do-github.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title">Nivea</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="../../assets/linkedin.png" alt=""></a>
                    <a href=""><img src="../../assets/placa-do-github.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                  <h5 class="card-title">Patrik</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <div class="card-header d-flex justify-content-center">
                    <a href=""><img class="mr-6" src="../../assets/linkedin.png" alt=""></a>
                    <a href=""><img src="../../assets/placa-do-github.png" alt=""></a>
                  </div>
                </div>
            </div>
              </div>
        </div>
</div>
<app-rodape></app-rodape>

