
<div class="container-fluid">
    <div class="row vebg d-flex align-items-center ">
        <div class="col-md-12 text-white text-left">
            <div class="d-flex justify-content-center ">

                <div class="col-lg-3 ">

                    <h1 class="mr-3  mb-2 titulo">Bem vinde</h1>

                </div>


                <div class="col-lg-9 mt-1 d-flex align-items-center ">
                    <button class="btn text-light vebg mr-3" data-toggle="modal" data-target="#novaPostagem">Nova
                        postagem</button>
                    <button class="btn btn-light mr-2" type="button" data-toggle="modal">Nova comunidade</button>
                </div>



            </div>
        </div>
    </div>



    <div class="container mt-5 mb-5">
        <div class="col-md-12 ve bg-diferente rounded d-flex justify-content-center">
            <!-- Parte fixa esquerda Pag -->
            <div class="col-md-4 mt-3">
                <div class="row d-flex justify-content-center">
                    <div class="card mt-3" style="width: 18rem">
                        <div class="card-body" id="conteudocard">
                            <p class="" id="titulobuscar">O que você está procurando?</p>

                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="card mt-3 mb-3" style="width: 18rem">
                        <div class="card-body" id="conteudocard">
                            <h2 class="titulocard">Temas</h2>
                            <hr />
                            <ul>
                                <li class="mb-3" *ngFor="let i of listaComunidade">
                                    <a class="cardfont" [routerLink]="['/tema-view', i.id]"> {{
                                        i.nome }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>





            <div class="container mt-5 mb-5" id="postagens">

                <!--Navegação-->


                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Todas
                            as Posatgens</a>

                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Postagens por Tema</a>

                        <a (click)='getByIdUser()' class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                            href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Minhas
                            Postagens</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!--Todas as postagens-->
                    <div class="tab-pane fade show active mt-2" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">

                        <div class="card-deck">
                            <div class="card border-success mb-3" style="max-width: 18rem;"
                                *ngFor='let item of listaPublicacao'>
                                <div class="card-header bg-transparent border-success ">
                                    <small class="text-success">{{item.usuario.nome}}->
                                    </small>
                                    <small class="text-muted">{{item.publiComunidade.nome}}
                                    </small>
                                </div>
                                <div class="card-body text-success">

                                    <h4>Descricao</h4>
                                    <h5 class="card-title">{{item.descricao}}</h5>
                                    <h4>categoria</h4>
                                    <p class="card-text">{{item.categoria}}</p>
                                    <h4>quantidade</h4>
                                    <p class="card-text">{{item.quantidade}}</p>

                                </div>
                                <div class="card-footer bg-transparent border-success">

                                </div>
                            </div>

                        </div>
                    </div>
                    <!--/Todas as postagens-->
                    <!--Postagens por Tema-->
                    <div class="tab-pane fade mt-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card-deck">
                            <div class="card border-secondary  mb-3" style="max-width: 18rem;"
                                *ngFor='let item of listaPublicacao'>
                                <div class="card-header bg-transparent border-secondary  ">
                                    <small class="text-secondary ">{{item.usuario.nome}}->
                                    </small>
                                    <small class="text-muted">{{item.publiComunidade.nome}}
                                    </small>
                                </div>
                                <div class="card-body text-secondary ">
                                    <h4>Descricao</h4>
                                    <h5 class="card-title">{{item.descricao}}</h5>
                                    <h4>categoria</h4>
                                    <p class="card-text">{{item.categoria}}</p>
                                    <h4>quantidade</h4>
                                    <p class="card-text">{{item.quantidade}}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--/Postagens por Tema-->
                    <!--Minhas Postagens-->
                    <div class="tab-pane fade mt-2" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="card-deck">
                            <div class="card border-success mb-3" style="max-width: 18rem;"
                                *ngFor='let item of user.publicacao'>
                                <div class="card-header bg-transparent border-success ">

                                    <small class="text-muted">{{item.publiComunidade.nome}}
                                    </small>
                                </div>
                                <div class="card-body text-success">
                                    <h4>Descricao</h4>
                                    <h5 class="card-title">{{item.descricao}}</h5>
                                    <h4>categoria</h4>
                                    <p class="card-text">{{item.categoria}}</p>
                                    <h4>quantidade</h4>
                                    <p class="card-text">{{item.quantidade}}</p>
                                </div>
                                <div class="card-footer bg-transparent border-success">
                                    <div>

                                    </div>
                                    <!--<div>
                                                        <button type="button" class="btn btn-outline-danger">Danger</button>
                                                        <button  type="button" data-toggle="modal" data-target="#editarPostagem"
                                                            class="btn btn-outline-warning">Editarmodal</button>
                                                    </div>-->


                                    <div class="mt-2">
                                        <button [routerLink]="['/postagem-delet', item.id]" type="button"
                                            class="btn mr-3 btn-outline-danger">Excluir</button>
                                        <button [routerLink]="['/postagem-edit', item.id]" type="button"
                                            data-toggle="modal" data-target="#editarPostagem"
                                            class="btn btn-outline-warning">Editar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Minhas Postagens-->
                </div>

            </div>
        </div>
    </div>


    <!-- Modal para scroll-->
    <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Formulario nova postagem-->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo">quantidade</label>
                        <input [(ngModel)]="publicacao.quantidade" type="text" class="form-control" id="quantidade"
                            placeholder="Quantidade">
                    </div>

                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <textarea [(ngModel)]="publicacao.categoria" class="form-control" id="categoria"
                            rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descricao</label>
                        <textarea [(ngModel)]="publicacao.descricao" class="form-control" id="descricao"
                            rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tema">Escolha comunidade ou <a routerLink='/comunidade'
                                data-dismiss="modal">cadastre um
                                novo</a>:
                        </label>
                        <select [(ngModel)]='idComunidade' (change)='getByIdTema()' class="form-control" name="tema"
                            id="tema">
                            <option *ngFor='let item of listaComunidade' value='{{item.id}}'>
                                {{item.nome}}
                            </option>
                        </select>
                    </div>
                    <!--/Formulario nova postagem-->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)='enviar()'
                        data-dimiss='modal'>Enviar</button>
                </div>
            </div>
        </div>
    </div>
  