<div>
<nav class="navbar navbar-expand-lg navbar-light " id="bg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <img src="https://i.imgur.com/GlEacpd.png?" class="imgLogo ml-5 mr-5" alt="">

  <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">

    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item ">
        <a class="nav-link mr-5" href="#">
            <p class="font-weight-bold text-white">Home</p>  <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-5" href="">
          <p class="font-weight-bold text-white">Sobre nos</p></a>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#"> <p class="font-weight-bold text-white">Contato</p></a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto d-flex align-items-center">

      <li class="nav-item active mr-4">
        <img src="https://i.imgur.com/sx6tmO0.jpg" alt="" width="60px" height="60px" class="img-fluid rounded-circle">
        <!--p class="m-0 mt-2 font-weight-bold text-white fs-16">Ola,maroune </p-->
       </li>

        <div class="btn-group" role="group" aria-label="Grupo de botões com dropdown   aninhado">


          <div class="btn-group btn pr-5" role="group">
            <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle mr-4  font-weight-bold text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <p>Setting</p>
            </button>

            <div class="dropdown-menu " aria-labelledby="btnGroupDrop1">

            <button type="button" class="btn btn-light ml-4 p-0 " data-toggle="modal" data-target="#Editar">
                Editar Perfil <i class="fas fa-user-edit "></i>
              </button>

              <a class="dropdown-item" routerLink='/entrar'>Sair <i class="fas fa-sign-out-alt"></i></a>

            </div>
          </div>
        </div>

    </ul>

  </div>
</nav>
</div>







<!-- Modal -->

<div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Atualizar os dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="nome">Nome</label>
          <input  class="form-control" type="text" name="usuario" id="nome" placeholder="Seu nome"  >
       </div>

       <div class="form-group">
        <label for="nome">Sobrenome</label>
        <input class="form-control" type="text" name="usuario" id="nome" placeholder="Seu sobrenome"  >
      </div>

        <div class="form-group">
          <label for="Estado">Estado</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o estado">
        </div>

        <div class="form-group">
          <label for="Cidade">Cidade</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite a sua cidade">
        </div>

        <div class="form-group">
          <label for="Bairro">Bairro</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o bairro">
        </div>

        <div class="form-group">
          <label for="Endereco">Endereco</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o endereco da sua casa">
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Usuario</label>
          <select class="form-control" name="tipo" id="tipo">
              <option>Selecione um tipo de usuario</option>
              <option value="normal">Doador</option>
              <option value="adm">Recebedor</option>
          </select>
        </div>


        <!--div class="form-group">
          <label for="texto">Texto</label>
          <textarea name="text" class="form-control" id="texto"  rows="3"></textarea>
        </div-->

        <div class="form-group">
          <label for="senha">Nova Senha</label>
          <input class="form-control" type="password" name="senha" id="senha" placeholder="seu senha">
        </div>

        <div class="form-group">
          <label for="confirmSenha">Confirme a nova Senha</label>
          <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
              placeholder="Confirme sua senha">
        </div>

        <div class="form-group">
          <label for="titulo">Escolher ou <a data-dismiss="modal" routerLink='' >cadastre uma nova comunidade</a></label>
          <select name="tema" id="tema" class="form-control"> <option value="">Comunidade</option></select>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Cadastrar</button>
      </div>
    </div>
  </div>
</div>


<!--div class="form-group">
  <label for="usuario">Usuario</label>
  <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuario">
</div>

<div class="form-group">
  <label for="usuario">Link da Foto</label>
  <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
</div>

<div class="form-group">
  <label for="senha">Senha</label>
  <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="seu senha">
</div>

<div class="form-group">
  <label for="confirmSenha">Senha</label>
  <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
      placeholder="Confirme sua senha">
</div>


<div class="form-group">
  <label for="tipo">Tipo de Usuario</label>
  <select class="form-control" name="tipo" id="tipo"
   (change)='tipoUser($event)' >
      <option>Selecione um tipo de usuario</option>
      <option value="normal">Normal</option>
      <option value="adm">Administrador</option>
  </select>
</div>

<div class="d-flex justify-content-center mb-3">
  <button type="submit" class="btn btn-danger mr-4"routerLink='/entrar'>Cancelar</button>
  <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
</div-->

